<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <label>Username:</label><input type="text" name="username"><br>
        <label>Password:</label><input type="password" name="password"><br>
        <label>Email:</label><input type="email" name="email"><br>
        <label>Balance:</label><input type="number" step="0.01" name="balance"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
